@page "/seite2"

<div class="mb-5">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="">
            <FluentIcon Value="@(new Icons.Regular.Size20.Apps())" Color="@Color.Neutral" Slot="start" />
            <FluentLabel Color="Color.Neutral">Home</FluentLabel>
            <FluentIcon Value="@(new Icons.Regular.Size16.ChevronDoubleRight())" Color="@Color.Neutral" Slot="separator" />
        </FluentBreadcrumbItem>
        <FluentBreadcrumbItem Href="./seite2">
            <FluentIcon Value="@(new Icons.Regular.Size20.Apps())" Color="@Color.Neutral" Slot="start" />
            <FluentLabel Color="Color.Neutral">Seite 2</FluentLabel>
            <FluentIcon Value="@(new Icons.Regular.Size16.ChevronDoubleRight())" Color="@Color.Neutral" Slot="separator" />
        </FluentBreadcrumbItem>
    </FluentBreadcrumb>
</div>

<h3>Seite2</h3>

<img class="logo_nulex42" />